 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #9fb7a8; /* green background */
    }

    .header {
      padding: 30px;
    }

    .navbar {
      background-color: #f2d6b3; /* beige */
      border-radius: 0 0 0 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px;
    }

 .social-media i {
  font-size: 24px;
  color: #333;
  margin-right: 15px;
  transition: color 0.3s;
}

.social-media i:hover {
  color: #1f4d3a;
}

.social-Media span {
    width: 24px;
    height: 24px;
    background-color: #1e3a2f;
    color: white;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
      
    }

  .menu {
      display: flex;
      gap: 80px;
    }

 .menu a {
      text-decoration: none;
      color: #1e3a2f;
      font-weight: 600;
      font-size: 14px;
    }

.logo {
      font-weight: bold;
      font-size: 18px;
      color: #1e3a2f;
      margin-left: 50px;
    }

.banner {
  width: 100%;
  min-height: 100vh;
  background: #f6e6d5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  box-sizing: border-box;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content:space-between;
}

.banner-image img {
  width: 100%;
  max-width: 400px;
  
}

.banner-text {
  flex: 1;
  padding-left: 30px;
  font-size: 20px;
   line-height: 1.2;

}

.banner-text h1 {
 font-size:50px;
  color: #1f4d3a;
    margin-bottom: 20px;   
}

.banner-text h3 {
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #444;
   font-size: 30px;
  
}

.banner-text p {
  color: #555;
  margin-bottom: 20px;
  display: block;
}

.banner-text button {
  background: #1f4d3a;
  color: #fff;
  border: none;
  padding: 12px 30px;
 font-weight: bold;
  cursor: pointer;
}

.banner-text button:hover {
  background: #16392c;
  align-items: center;
}


@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
  }

  .banner-text {
    padding-left: 0;
    margin-top: 30px;
  }
}